{% load static %}


{% include 'websitesi/components/header.html' %}

    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url({% static 'websitesi/images/arkaplan.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Hakkımızda</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Ana Sayfa</a></span> <span>Hakkımızda</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>
		

		<section class="ftco-section ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'websitesi/images/about.jpg' %});">
					</div>
					<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section mb-5 pl-md-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading">Biz Kimiz</span>
		            <h2 class="mb-4">Misyonumuz</h2>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
                            <p>  Salt & Partners, kuruluşundan bugüne kadar etkin ve disiplinli kadrosuyla,  bir çok alanda tüzel ve gerçek kişi müvekkillerine hukuki danışmanlık ve avukatlık hizmeti vermektedir.  Müvekkillerinin hukuki sorunlarını hızlı ve en etkin şekilde çözüme kavuşturarak hukuk dünyasında  adım adım zirveye ilerlemektedir. Bu bağlamda müvekkillerinin hukuki sorunları, gün gün takip edilmekte ve klasik çözüm yolları yanı sıra uzlaşma, tahkim, arabuluculuk ve hakem yolu ile başarıyla sonuçlandırılmaktadır.</p>
                            <p>Ceza Hukuku, İş Hukuku, Şirketler Hukuku, Tazminat Hukuku, Sözleşmeler Hukuku, Aile ve Boşanma Hukuku ve Miras Hukuku başta olmak üzere hukukun tüm alanlarında  konusunda uzman akademisyen ve hukukçuların da desteği alınarak  dinamik, etkin ve genç kadrosuyla her türlü hukuki hizmetin en iyi şekilde sunulmasına özen gösterilmektedir.</p>
			                <p>Salt & Partners, avukatlık ve hukuki danışmanlık mesleğini etik değerlere ve insan onuruna saygılı olarak icra etmeyi temel prensip olarak benimsemiştir. Paylaştığınız tüm bilgi ve belgeler müvekkil-avukat ilişkisi çerçevesinde ele alınarak, avukatın sır tutma yükümlülüğü gözetilerek hiçbir kurum, kuruluş veya şahıs ile paylaşılmamaktadır. Firmamız müvekkillerini her türlü adli ve idari merciler başta olmak üzere tüm platformlarda temsil etmektedirler.</p>
              </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'websitesi/images/aboutresim2.jpg' %});">
					</div>
					<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section mb-5 pl-md-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading">Biz Kimiz</span>
		            <h2 class="mb-4">Vizyonumuz</h2>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
							<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>

						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'websitesi/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center">
    			<div class="col-lg-4">
    				<div class="heading-section pl-md-5 heading-section-white">
	          	<div class="ftco-animate">
		          	<span class="subheading">Bazı</span>
		            <h2 class="mb-4">Detaylar</h2>
	            </div>
	          </div>
    			</div>
    			<div class="col-lg-8">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="121">0</strong>
		                <span>Müvekkil</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="896">0</strong>
		                <span>Çözülmüş Dava</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="4">0</strong>
		                <span>Kazanılmış Ödül</span>
		              </div>
		            </div>
		          </div>

	          </div>
          </div>
        </div>
    	</div>
    </section>


{% include 'websitesi/components/alt.html' %}
    

    <!-- Modal -->
    <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAppointmentLabel">Request a Quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-group">
                <label for="appointment_name" class="text-black">Full Name</label>
                <input type="text" class="form-control" id="appointment_name">
              </div>
              <div class="form-group">
                <label for="appointment_email" class="text-black">Email</label>
                <input type="text" class="form-control" id="appointment_email">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_date" class="text-black">Date</label>
                    <input type="text" class="form-control" id="appointment_date">
                  </div>    
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_time" class="text-black">Time</label>
                    <input type="text" class="form-control" id="appointment_time">
                  </div>
                </div>
              </div>
              

              <div class="form-group">
                <label for="appointment_message" class="text-black">Message</label>
                <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  
{% include 'websitesi/components/footer.html' %}