{% load static %}

{% include 'websitesi/components/header.html' %}

    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url({% static 'websitesi/images/bg_1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Avukatlar</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Ana Sayfa</a></span> <span>Avukatlar</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section mt-5">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
          	<span class="subheading">Takım</span>
            <h2 class="mb-4">Avukatlarımızla Tanışın</h2>
            <p>Salt & Partners Avukatlık Bürosunun Avukatları ile tanışın.</p>
          </div>
        </div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img" style="background-image: url({% static 'websitesi/images/ozeroz.png' %});"></div>
							<div class="text pt-4">
                                <a href=""><h3>Av. Özer Öz</h3></a>
								<span class="position mb-2">Yönetici Ortak</span>
                                <p>Avukat Özer ÖZ Salt & Partners Avukatlık Bürosunun kurucusu ve yönetici ortağıdır. İstanbul Üniversitesi Hukuk Fakültesinde lisans eğitimini başarı ile tamamlamıştır. Bahçeşehir Üniversitesi Sosyal Bilimler Enstitüsü Özel Hukuk alanında yüksek lisans eğitimi almaya devam etmektedir.  Marka ve Patent Hukuku, Ticaret ve İş Hukuku, İş ve Sosyal  Güvenlik Hukuku, Banka ve Finans Hukuku, Kira Hukuku, Tüketici ve Rekabet Hukuku, Vergi Hukuku, Bilişim ve E-Ticaret Hukuku, Enerji ve Maden Hukuku, Çevre Hukuku , Dernekler ve Vakıflar Hukuku başta olmak üzere çeşitli alanlarda yerli ve yabancı müvekkillerine hizmet vermektedir. 2012-2015 yılları arasında Salt Basım Yayım Dağıtım Ltd. Şti.’nin kurucusu ve yöneticiliğini de yapmış olan Av. Özer ÖZ  birçok seminerde çeşitli konularda eğitim vermiştir. İstanbul Hukuk Derneğinin de kurucusu ve başkanı olan Avukat ÖZER ÖZ birçok sivil toplum kuruluşu ve derneğe üyedir.</p>

                                <ul class="ftco-social d-flex">
	                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
	              </ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
                            <a href=""><div class="img" style="background-image: url({% static 'websitesi/images/ridvan.png' %});"></div></a>
							<div class="text pt-4">
                                <h3>Av. Rıdvan Öz</h3>
								<span class="position mb-2">Yönetici Ortak</span>
                                <p>Avukat Rıdvan ÖZ Salt - Partners Avukatlık Bürosunun yönetici ve kurucu ortağıdır. İstanbul Üniversitesi Hukuk Fakültesinde lisans eğitimini onur öğrencisi olarak tamamlamıştır. Daha sonrasında Bahçeşehir Üniversitesi Sosyal Bilimler Enstitüsü Kamu Hukuku  ve Eskişehir Osmangazi Üniversitesi Sosyal Bilimler Enstitüsü Siyaset Bilimi alanında yüksek lisans eğitimi almaya başlamıştır. Ceza Hukuku, İş ve Sosyal Güvenlik Hukuku, Sigorta ve Tazminat Hukuku, İcra ve İflas Hukuku, Miras Hukuku, Aile Hukuku, Spor  Hukuku, Gayrimenkul ve İnşaat Hukuku ve Yabancılar Hukuku başta olmak üzere çeşitli alanlarda yerli ve yabancı müvekkillerine hizmet vermektedir. Birçok konferansta çeşitli konularda eğitim vermiştir. İstanbul Hukuk  Derneğinin kurucularından olan Avukat Rıdvan ÖZ’ün birçok sivil toplum kuruluşu ve derneğe üyeliği bulunmaktadır. Mesleki faaliyetlerinin yanı sıra birçok sosyal sorumluluk projelerinde de yer almaktadır.</p>
								<ul class="ftco-social d-flex">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
	              </ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
                            <a href=""><div class="img" style="background-image: url({% static 'websitesi/images/kiz.png' %});"></div></a>
							<div class="text pt-4">
								<h3>Av. Zenfira  ALİYEVA</h3>
								<span class="position mb-2">Yönetici Ortak</span>
                                <p>İstanbul Üniversitesi Hukuk Fakültesi eğitimini tamamlamasının akabinde Bahçeşehir Üniversitesi’nde Sermaye Piyasaları ve Ticaret Hukuku yüksek lisans programında eğitim görmeye başlamış, halihazırda “Sermaye Piyasalarından Doğan Uyuşmazlıkların Tahkim Yoluyla Çözümü” adlı tezini yürütmektedir. Üniversite hayatı boyunca bir çok sivil toplum kuruluşu ve derneğin yönetiminde yer almış, sosyal sorumluluk projelerinin hayata geçirilmesinde önemli çalışmalarda bulunmuştur. Gerek üniversite hayatı boyunca gerek sonrasında bir çok hukuk firmasının bünyesinde çalışmış olan Av. Zenfira Aliyeva, Salt&Partners bünyesinde ortak avukat olarak çalışmalarını sürdürmekte, aynı zamanda İstanbul Hukuk Derneği’nin yönetim kurulunda görev almaktadır.</p>
								<ul class="ftco-social d-flex">
	                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
	                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
	              </ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

{% include 'websitesi/components/footer.html' %}