{% load static %}
{% include 'websitesi/components/header.html' %}

<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/markahukuku.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Marka ve Patent Hukuku</a></h3>
                                <p>Hukuk Büromuz tarafından müvekkillerimize Aile ve Boşanma Hukuku alanında;
                                    <ul>
                                <li>Delil tespiti davası</li>
                                <li>Haksız rekabet davaları</li>
                                <li>Marka ve patent tescili ve tescile itiraz davaları</li>
                                <li>Marka, patent, tasarım hakları tecavüzünde ihtiyati tedbir, baskın ve el koyma işlemleri</li>
                                <li>Marka ve patent haklarının korunması, denetlenmesi</li>
                                <li>Marka, patent, tasarım rehini, lisansı ve haczi</li>
                                <li>YİDK karar iptal davası</li>
                                <li>Milletlerarası marka araştırması, tescili ve devri işlemleri</li>
                                <li>İlim ve edebiyat eser sahipliğinden doğan ihtilaflar</li>
                                <li>Bağlantılı hak sahipliğinden doğan ihtilaflar başta olmak üzere Fikri ve Sınai Haklar Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>


                                    ​​​​</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/miras.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Miras Hukuku</a></h3>
                                <p>Hukuk Büromuz tarafından müvekkillerimize Miras Hukuku  Hukuku alanında;
                                <ul>

                                <li>Veraset ilamı alınması</li>
                                <li>Ortaklığın giderilmesi (izale-i şüyu)</li>
                                <li>Mirasın reddi davaları</li>
                                <li>Mirasçıdan mal kaçırma davaları</li>
                                <li>Saklı paya ilişkin davalar</li>
                                <li>Tenkis davaları</li>
                                <li>Vasiyetname düzenlenmesi</li>

                                <li>Vasiyetnamenin açılması davaları</li>
                                <li>Vasiyetnamenin iptali davaları</li>
                                <li>Mirasçılık belgesinin iptali davaları</li>
                                <li>Mirasın tespiti davaları</li>
                                <li>Muris muvazaası davaları</li>
                                <li>Mirasın hükmen reddi davaları</li>
                                <li>Mirastan feragat sözleşmesi</li>
                                <li>Miras intikal işlemleri başta olmak üzere Miras Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
                            </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/bilisimhukuku.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Bilişim Hukuku</a></h3>
                                <p>          Hukuk Büromuz tarafından müvekkillerimize Bilişim  Hukuku alanında;
                                <ul>
                                <li>Bilişim sözleşmeleri</li>
                                <li>Adli bilişim</li>
                                <li>İnternet siteleri hakkında hukukî danışmanlık</li>
                                <li>Bilgi güvenliği ve veri koruma hukuku</li>
                                <li>İnternet üzerinden yayınlanan itibar zedeleyici içeriklerin yayından kaldırılması</li>

                                <li>Elektronik ticaret alanını düzenleyen 6563 sayılı elektronik ticaretin düzenlenmesi hakkında kanun, 5809 sayılı Elektronik haberleşme kanunu, 5651 sayılı internet ortamında yapılan yayınların denetlenmesi ve bu yayınlar yolu ile işlenen suçlarla mücadele edilmesi hakkında kanun, 5070 sayılı elektronik imza kanunu, 4077 sayılı tüketicinin korunması hakkında kanun ve bunlara bağlı olarak çıkarılan değişik yönetmelikler hakkında hizmet  başta olmak üzere Bilişim ve E-Ticaret Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/goc.png' %});"></a>
							<div class="info">
								<h3><a href="#">Yabancılar Hukuku</a></h3>
                                <p>   Hukuk Büromuz tarafından müvekkillerimize Yabancılar  Hukuku alanında;
                                <ul>
                                <li>Yabancıların Türk vatandaşlığına geçiş işlemlerinin yapılması ve takibi</li>
                                <li>Yabancıların Türkiye’de oturma izin başvurularının yapılması ve takibi</li>
                                <li>Yabancıların Türkiye’de çalışma izinlerinin alınması ve uzatılması işlemlerinin takibi ve sonuçlandırılması</li>
                                <li>Yabancı gerçek ve tüzel kişilerin Türkiye’de gayrimenkul alım-satım işlemlerinin takibi ile gayrimenkullerin kiralanmasına ilişkin sözleşmelerin hazırlanması</li>
                                <li>Yabancı gerçek kişilere Türkiye’deki miras hukukuna ilişkin danışmanlık hizmetlerinin verilmesi ile haklarının korunması</li>
                                <li>Doğrudan yabancı yatırımcılar ve bunlara bağlı olarak yabancı çalışanlarla ilgili çalışma ve oturma izinleri</li>
                                <li>Vatandaşlıktan çıkarılma</li>
                                <li>5718 Sayılı Milletlerarası Özel Hukuk ve Usul Hukuku Hakkında Kanun kapsamında açılacak davalarda vekillik başta olmak üzere Yabancılar Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
                            </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/insaathukuku.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Kira, Gayrimenkul Ve İnşaat Hukuku</a></h3>
                                <p>
                                     Hukuk Büromuz tarafından müvekkillerimize Kira, Gayrimenkul Ve İnşaat Hukuku alanında;
                                    <ul>
                                        <li>Gayrimenkul satın alma, satış vaadi sözleşmelerinin hazırlanması ve denetlenmesi</li>
                                        <li>Ön satış ve kiralama sözleşmeleri, yönetim planı uygulamaları ve tapuya şerhlerinin yapılması</li>
                                        <li>Kira alacaklarının tahsili ve kira tespit davaları</li>
                                        <li>Aidat ve avansların tahsili</li>
                                        <li>İpotek tesisi, ipoteğin paraya çevrilmesi konularının takibi</li>
                                        <li>Kat karşılığı inşaat sözleşmelerinin hazırlanması ve incelenmesi</li>
                                        <li>Kamulaştırma davaları</li>
                                        <li>Müteahhitlik, tedarik, taşeronluk ve benzeri inşaat hizmetlerine ilişkin sözleşmeler</li>
                                        <li>İntifa hakkı, geçit hakkı, aynileştirilmiş şahsi haklara ilişkin ihtilafların çözümlenmesi</li>
                                        <li>Kaçak yapı para cezalarının iptali davaları</li>
                                        <li>Kat mülkiyetinden kaynaklanan ihtilaflar</li>
                                        <li>Tapu tesis, iptali ve tescil davaları </li>
                                        <li>Ruhsatlandırma ve imar durumu belirlenmesi başta olmak üzere kira,gayrimenkul ve inşaat hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                                    </ul>

                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/finanshukuku.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Banka ve Finans Hukuku</a></h3>
                            <p> Hukuk Büromuz tarafından müvekkillerimize Banka ve Finans Hukuku alanında;

​​​​​​​​​​​
                                <ul>
                                    <li>İpotek ve Teminatlı işlemlerden doğan davalar</li>

                                    <li>Kredi sözleşmeleri alanında hukuksal destek</li>

                                    <li>Finansal yapılandırma</li>
                                    <li>Leasing ve faktöring alanında hukuksal destek Bankacılık operasyonları ve mali organizasyonların hukuksal denetlenmesi</li>
                                    <li>İpotek ve teminatlarının hukuksal düzenlenmesi</li>
                                    <li>Finansal kiralama ve faktoring işlemlerinin hazırlanması</li>
                                    <li>İslami bankacılık ve finans (sukuk,murabaha vb.)</li>
                                    <li>Ticaret, ihracat ve gayrimenkul finansmanı</li>
                                    <li>Bankalar Birliği ve Bankacılık Denetleme Kurulu Ve TMSF ilgili hukuksal işlemler</li>
                                    <li>Sermaye piyasası uygulamalarının hukuksal olarak denetlenmesi</li>
                                    <li>Hem borç alanların, hem de borç verenlerin çeşitli işlemlerinde danışmanlık ve temsil başta olmak üzere Bankacılık ve Finans Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="{% url 'practices' %}">1</a></li>
                <li class="active"><span>2</span></li>

              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>
{% include 'websitesi/components/footer.html' %}