{% load static %}
{% include 'websitesi/components/header.html' %}

<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-1.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Aile Hukuku</a></h3>
                                <p>Hukuk Büromuz tarafından müvekkillerimize Aile ve Boşanma Hukuku alanında;
                                    <ul>
                                <li>Boşanma ve boşanmaya bağlı tazminat davaları</li>
                                <li>Nafaka davaları</li>
                                <li>Mal rejiminde eşlerin yasal alım hakları ve mal rejiminin tasfiyesi</li>
                                <li>Evlilik öncesi mal rejimi sözleşmelerinin hazırlanması</li>
                                <li>Ailenin korunmasına dair 4320 sayılı kanundan doğan davalar</li>
                                <li>Aile konutu şerhinin tapu kütüğüne işlenmesi ve uygulamaları</li>
                                <li>Yurt dışında yaşayan Türk vatandaşlarının aile hukukuna ilişkin Tanıma ve Tenfiz davaları başta olmak üzere aile ve boşanma hukukundan doğan tüm davalarda uzman bir kadro etkin  hizmet sunulmaktadır.</li>

                            </ul>


                                    ​​​​</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-2.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Ticaret ve Şirketler Hukuku</a></h3>
                                <p>Hukuk Büromuz tarafından müvekkillerimize Ticaret ve Şirketler  Hukuku alanında;
                                <ul>

                                <li>Haksız rekabet davaları</li>
                                <li>Şirketlerin alacak davaları</li>
                                <li>İflas ve iflas erteleme davaları</li>
                                <li>Marka-patent başvuru ve davaları</li>
                                <li>Ticaret unvanına tecavüzün önlenmesi davaları</li>
                                <li>Ticari işlerden kaynaklanan tazminat davaları</li>
                                <li>Acente sözleşmelerinin denetlenmesi, düzenlenmesi</li>

                                <li>Distribütörlük sözleşmelerinin denetlenmesi, düzenlenmesi</li>
                                <li>Joint Ventures sözleşmelerinin denetlenmesi, düzenlenmesi</li>
                                <li>Tasfiye başta olmak üzere Ticaret ve Şirketler Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
                            </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-3.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">İş ve Sosyal Güvenlik Hukuku</a></h3>
                                <p>          Hukuk Büromuz tarafından müvekkillerimize İş ve Sosyal Güvenlik  Hukuku alanında;
                                <ul>
                                <li>İş kazası ve iş kazasından doğan tazminat davaları</li>
                                <li>İş sözleşmesinin feshinden kaynaklı kıdem,ihbar,fazla çalışma, yıllık izin ve maaş alacakları davaları</li>
                                <li>İşe iade davaları</li>
                                <li>Mobbing ve kötü niyet tazminatlarına ilişkin davaların açılması ve takibi</li>
                                <li>İş hukuku alanında gereken ibranameler ve ihtarnameler düzenlenmesi</li>

                                <li>İş sözleşmelerinin feshi aşamasının hazırlanması, sözleşmeye uygun fesih denetimi gerçekleştirilmesi</li>
                                <li>İş hukukundan doğan uyuşmazlıkların, zorunlu hale gelecek arabuluculuk kurumu ile çözümü konusunda danışmanlık hizmeti başta olmak üzere iş ve sosyal güvenlik  hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-4.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">İcra ve İflas Hukuku</a></h3>
                                <p>   Hukuk Büromuz tarafından müvekkillerimize İcra ve İflas  Hukuku alanında;
                                <ul>
                                <li>İcra Ceza davaları</li>
                                <li>İcra Mahkemesinin görev alanına giren diğer davalar</li>
                                <li>Her türlü ilamlı, ilamsız, kambiyo  ve ipoteğin paraya çevrilmesi takipleri</li>
                                <li>Karşılıksız çek davalarının açılması ve takibi</li>
                                <li>Kiralanan gayrimenkullerin tahliyesi</li>
                                <li>İhtiyati haciz ve ihtiyati hacze itiraz davası</li>
                                <li>İflas davaları</li>
                                <li> Menfi tespit davaları</li>
                                <li>İstirdat davaları</li>
                                <li>Yedieminliği suistimal davalarının açılması başta olmak üzere İcra ve İflas Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
                            </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-5.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Ceza Hukuku</a></h3>
                                <p>
                                     Hukuk Büromuz tarafından müvekkillerimize Ceza Hukuku alanında;
                                    <ul>
                                        <li>Ağır Ceza Mahkemelerinde sanık müdafi ve müşteki vekili</li>
                                        <li>Asliye Ceza Mahkemelerinde sanık müdafi ve müşteki vekili olunması</li>
                                        <li>Sulh Ceza Hakimliklerinde sanık müdafi ve müşteki vekili olunması</li>
                                        <li>İcra Ceza Davaları</li>
                                        <li>Vergi Ceza Davaları</li>
                                        <li>Soruşturma aşamasında hazır bulunma</li>
                                        <li>Savcılıklarca verilen takipsizlik kararlarına itiraz edilmesi</li>
                                        <li>Cezaevinde tutuklu ve hükümlü ziyaretleri yapılması başta olmak üzere Ceza Hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>

                                    </ul>

                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="practice">
							<a href="#" class="img" style="background-image: url({% static 'websitesi/images/practice-6.jpg' %});"></a>
							<div class="info">
								<h3><a href="#">Sigorta Hukuku</a></h3>
                            <p> Hukuk Büromuz tarafından müvekkillerimize Sigorta ve Tazminat Hukuku alanında;

​​​​​​​​​​​
                                <ul>
                                    <li>Trafik kazalarına ilişkin tazminat davaları</li>

                                    <li> Araç değer kaybı davaları</li>

                                    <li> Hayat Sigortasından, Karayolları Zorunlu Mali Mesuliyet Sigortasından, Kara Taşıtları Sigortasından (Kasko), Can ve Mal Sigortası ile Mesleki Sorumluluk Sigortalarından doğan alacak ve tazminat davaları</li>

                                    <li> Kasko, Yangın, Havacılık ve Deniz Sigortası uyuşmazlıkları</li>

                                    <li> Mal ve diğer tazminatlara ilişkin davalar başta olmak üzere Sigorta ve Tazminat hukukundan doğan tüm davalarda uzman bir kadro ile etkin  hizmet sunulmaktadır.</li>
                            </ul>
                                </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li class="active"><span>1</span></li>
                <li><a href="{% url 'practices2' %}">2</a></li>

              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>
{% include 'websitesi/components/footer.html' %}